Repository SOMAS2021/SOMAS2021, pull requests merged in 2021-12, with the labels that each got.

#9 Infra mvp agents
  cmd/backend/main.go
  go.mod
  go.sum
  pkg/agents/baseagent.go
  pkg/agents/team1/agent.go
  pkg/agents/team1/agent1/agent.go
  pkg/agents/team1/agent2/agent.go
  pkg/infra/simulation/simulation.go
  pkg/infra/tower/tower.go
Labels: tower, team1, agent

#23 Infra mvp baby
  .gitignore
  Makefile
  cmd/backend/main.go
  go.mod
  go.sum
  pkg/agents/team1/agent1/agent.go
  pkg/agents/team1/agent2/agent.go
  pkg/infra/baseagent.go
  pkg/infra/tower.go
  pkg/messages/ackMessage.go
  pkg/messages/baseMessage.go
  pkg/simulation/README.md
  pkg/simulation/simulation.go
  pkg/tower/README.md
  pkg/utils/abm/abm.go
  pkg/utils/abm/agent.go
  pkg/utils/abm/simulation.go
  pkg/utils/abm/world.go
Labels: tower, team1, agent, simulation

#29 Closes #28: create agents with full HP
  pkg/simulation/simulation.go
Labels: bug, agent, simulation

#30 Infra hotfix #24
  .github/workflows/main.yaml
  .github/workflows/package.yaml
  .github/workflows/release.yaml
Labels: bug, production

#35 Infra logging using logrus
  .gitignore
  cmd/backend/main.go
  go.mod
  go.sum
  pkg/agents/team1/agent1/agent.go
  pkg/agents/team1/agent2/agent.go
  pkg/infra/baseagent.go
  pkg/infra/tower.go
  pkg/simulation/simulation.go
  pkg/utils/abm/abm.go
Labels: feature request

#38 Logger filepath fix
  cmd/backend/main.go
Labels: bug, production, simulation

#42 Remove release badge
  README.md
Labels: infra

#39 Add MVP for Team 6
  cmd/backend/main.go
  pkg/agents/team6/behaviours.go
  pkg/agents/team6/config.go
  pkg/agents/team6/strategies.go
  pkg/simulation/simulation.go
Labels: team6, agent

#41 Adding hasEaten to base agent struct
  pkg/infra/baseagent.go
  pkg/infra/tower.go
Labels: bug, agent

#37 Added getter function CurrPlatFood
  pkg/infra/baseagent.go
Labels: tower, feature request

#46 Add run to CI/CD
  .github/workflows/main.yaml
Labels: infra

#45 Replace functions by state access in tower
  pkg/infra/tower.go
Labels: bug, tower

#48 Change log file extension to .json
  .gitignore
  cmd/backend/main.go
Labels: infra, simulation

#53 Adding Random Agent
  cmd/backend/main.go
  pkg/agents/randomAgent/agent.go
  pkg/simulation/simulation.go
Labels: agent, feature request

#51 Day & Tower Input Parameters.
  cmd/backend/main.go
  pkg/infra/tower.go
  pkg/simulation/simulation.go
  pkg/utils/globalTypes/day/day.go
Labels: enhancement, simulation

#59 Add Team 3 MVP
  cmd/backend/main.go
  pkg/agents/team3/agentMain.go
  pkg/agents/team3/emotions.go
  pkg/agents/team3/foodCalculations.go
  pkg/agents/team3/messages.go
  pkg/simulation/simAgent.go
Labels: team3, agent

#63 expose health info
  pkg/infra/baseagent.go
Labels: enhancement

#87 change TakeFood to work for 0 food taken as well
  pkg/infra/baseagent.go
Labels: enhancement

#89 [NFC] Change directory name of docs to lowercase
  docs/wiki_images/health_categories.jpg
  docs/wiki_images/updateHP_base_shape.png
  docs/wiki_images/updateHP_derivation_part_1.PNG
  docs/wiki_images/updateHP_derivation_part_2.PNG
  docs/wiki_images/updateHP_multiple_curves.png
Labels: enhancement

#62 Health
  cmd/backend/main.go
  pkg/agents/team1/agent1/agent.go
  pkg/infra/baseagent.go
  pkg/infra/tower.go
  pkg/simulation/simulation.go
  pkg/utils/globalTypes/health/health.go
Labels: agent, feature request

#78 Infra gofmt linting
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yaml
  Makefile
Labels: infra, enhancement

#103 Add DaysAtCritical getter function
  pkg/infra/baseagent.go
Labels: agent

#104 Initial reshuffle
  pkg/infra/tower.go
  pkg/simulation/simIteration.go
Labels: bug, simulation

#101 Remove duplicated state of agents
  pkg/agents/randomAgent/agent.go
  pkg/agents/team1/agent1/agent.go
  pkg/agents/team1/agent2/agent.go
  pkg/agents/team3/agentMain.go
  pkg/agents/team6/config.go
  pkg/infra/baseagent.go
  pkg/infra/tower.go
  pkg/simulation/simAgent.go
  pkg/simulation/simIteration.go
  pkg/simulation/simulation.go
  pkg/utils/globalTypes/agent/agent.go
Labels: bug, tower, simulation

#106 Add Team 5 MVP
  cmd/backend/main.go
  pkg/agents/team5/agent1/agent.go
  pkg/simulation/simAgent.go
Labels: team5, agent

#111 Team4 MVP
  cmd/backend/main.go
  pkg/agents/team4/agent1/agent.go
  pkg/agents/team4/agent1/agentConfig.json
  pkg/agents/team4/agent1/agentLifeExpectencies.json
  pkg/agents/team4/agent1/bestAgents.json
  pkg/agents/team4/agent1/checkAgentPerformance.py
  pkg/agents/team4/agent1/generateNewBestAgents.py
  pkg/agents/team4/agent1/initaliseConfig.py
  pkg/agents/team4/agent1/start_evo.sh
  pkg/agents/team4/agent4_1.go
  pkg/simulation/simAgent.go
Labels: agent

#114 Resolves #108 and #113
  cmd/backend/main.go
  pkg/agents/team6/strategies.go
  pkg/infra/tower.go
  pkg/utils/globalTypes/health/health.go
Labels: tower, optimization

#119 [NFC] Change guidelines to be invisible in PR template so they don't have t…
  .github/PULL_REQUEST_TEMPLATE.md
Labels: infra, enhancement

#117 Add runtime timeout
  .github/workflows/main.yaml
Labels: infra, enhancement

#118 Rewrite Reshuffle() to remove infinite loop
  pkg/infra/tower.go
Labels: bug, tower

#121 Change make clean to remove logs directory
  Makefile
Labels: enhancement

#122 Update logging format for readability
  pkg/agents/team3/agentMain.go
  pkg/agents/team6/config.go
Labels: team3, team6

#124 Change message inbox from list to channel
  pkg/infra/baseagent.go
  pkg/infra/tower.go
Labels: agent

#126 Add code to handle agent updates at end of day
  pkg/infra/baseagent.go
  pkg/infra/tower.go
Labels: tower, agent, simulation

#127 Infra docker with dummy frontend
  .dockerignore
  .github/workflows/package.yaml
  .gitignore
  Dockerfile
  Makefile
  README.md
  cmd/backend/main.go
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
  main.go
Labels: infra, frontend

#129 [INFRA/CICD] Update packaging
  .github/workflows/package.yaml
Labels: infra

#131 Team7
  config.json
  pkg/agents/team7/agent1/agent.go
  pkg/config/configparameters.go
  pkg/simulation/simAgent.go
Labels: team7, agent

#151 Remove unnecessary mutex
  pkg/infra/tower.go
Labels: tower, enhancement

#145 Refactor updateHP
  pkg/infra/baseagent.go
Labels: agent, enhancement

#146 Change agent ID type to UUID and add senderID field to messages
  pkg/agents/team1/agent1/agent.go
  pkg/agents/team1/agent2/agent.go
  pkg/agents/team4/agent4_1.go
  pkg/agents/team6/config.go
  pkg/infra/baseagent.go
  pkg/infra/tower.go
  pkg/messages/askFoodTakenMessage.go
  pkg/messages/askHPMessage.go
  pkg/messages/askIntendedFoodIntakeMessage.go
  pkg/messages/baseMessage.go
  pkg/messages/requestLeaveFoodMessage.go
  pkg/messages/requestTakeFoodMessage.go
  pkg/messages/responseMessage.go
  pkg/messages/stateFoodTakenMessage.go
  pkg/messages/stateHPMessage.go
  pkg/messages/stateIntendedFoodIntakeMessage.go
  pkg/simulation/simAgent.go
  pkg/simulation/simIteration.go
Labels: agent

#140 Add UUIDs to messages
  pkg/agents/team1/agent1/agent.go
  pkg/agents/team4/agent4_1.go
  pkg/agents/team6/config.go
  pkg/messages/baseMessage.go
  pkg/messages/requestLeaveFoodMessage.go
  pkg/messages/requestTakeFoodMessage.go
  pkg/messages/responseMessage.go
Labels: feature request

#164 Dashboard skeleton
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/NewRun.tsx
  frontend/src/Components/Results.tsx
  frontend/src/Components/Sidebar.tsx
  frontend/src/Components/Toaster.tsx
  frontend/src/assets/experiment.png
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
Labels: frontend

#173 Fix reply function: missing senderID in interface
  pkg/messages/baseMessage.go
  pkg/messages/responseMessage.go
Labels: bug

#148 Team2
  config.json
  pkg/agents/team2/actions.go
  pkg/agents/team2/config.go
  pkg/agents/team2/policies.go
  pkg/agents/team2/qtable.go
  pkg/agents/team2/reward.go
  pkg/agents/team2/states.go
  pkg/config/configparameters.go
  pkg/simulation/simAgent.go
Labels: team2, agent

#174 Move agent replacement to end of day instead of start of day
  pkg/simulation/simIteration.go
Labels: bug

#137 Infra/treaty messages
  pkg/infra/baseagent.go
  pkg/messages/baseMessage.go
  pkg/messages/proposeTreatyMessage.go
  pkg/messages/treaty.go
  pkg/messages/treatyResponseMessage.go
Labels: agent

#172 Improve message logging
  Makefile
  go.mod
  go.sum
  pkg/agents/team6/config.go
  pkg/messages/baseMessage.go
  pkg/messages/messagetype_string.go
  tools.go
Labels: enhancement

#179 State logging
  config.json
  main.go
  pkg/config/configparameters.go
  pkg/infra/tower.go
  pkg/simulation/simAgent.go
  pkg/simulation/simIteration.go
  pkg/simulation/simulation.go
  pkg/utils/globalTypes/day/day.go
  pkg/utils/logging/logging.go
  pkg/utils/logging/statelog.go
Labels: frontend, feature request

#187 Add agent enum with string function and convert abs to map
  pkg/config/configparameters.go
  pkg/infra/baseagent.go
  pkg/infra/tower.go
  pkg/simulation/simAgent.go
  pkg/simulation/simulation.go
  pkg/utils/globalTypes/agent/agent.go
  pkg/utils/globalTypes/agent/agenttype_string.go
  pkg/utils/logging/statelog.go
  pkg/utils/utilFunctions/utilFunctions.go
  pkg/utils/utilFunctions/utilFunctions_test.go
Labels: tower, agent, enhancement, simulation

#192 [CICD] Frontend Pipeline
  .github/workflows/main.yaml
Labels: infra

#191 [LOGGING] Move main log to state
  main.go
  pkg/infra/baseagent.go
  pkg/infra/tower.go
  pkg/simulation/simulation.go
  pkg/utils/logging/logging.go
  pkg/utils/logging/statelog.go
Labels: frontend, enhancement
