Repository SOMAS2021/SOMAS2021, pull requests merged in 2022-01, with the labels that each got.

#194 Frontend linter
  .github/workflows/main.yaml
  frontend/package-lock.json
  frontend/package.json
Labels: infra

#198 logging days lived by an agent
  pkg/infra/baseagent.go
Labels: infra

#199 [APP] Load directory into frontend
  frontend/src/App.tsx
  frontend/src/Components/Results.tsx
  frontend/src/Components/Sidebar.tsx
  frontend/src/Components/Toaster.tsx
  frontend/src/Helpers/Log.tsx
Labels: frontend

#201 Fix death logs
  pkg/infra/baseagent.go
  pkg/simulation/simAgent.go
Labels: bug

#207 Remove HandleAskHP implementation from base agent
  pkg/infra/baseAgentMessages.go
Labels: bug, agent

#204 Fix FoodRequired function in health
  pkg/agents/team6/strategies.go
  pkg/utils/globalTypes/health/health.go
  pkg/utils/globalTypes/health/health_test.go
Labels: bug

#195 [APP] Infra http frontend to backend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Components/Navbar.tsx
  frontend/src/Components/NewRun.tsx
  frontend/src/Components/NewRunConfig/AdvancedSettings/AdvancedSettings.css
  frontend/src/Components/NewRunConfig/AdvancedSettings/AdvancedSettings.tsx
  frontend/src/Components/NewRunConfig/NewRunState.tsx
  frontend/src/Components/NewRunConfig/ParameterLabels.ts
  frontend/src/Components/NewRunConfig/Settings/Settings.css
  frontend/src/Components/NewRunConfig/Settings/Settings.tsx
  frontend/src/Helpers/SimConfig.tsx
  frontend/src/index.css
Labels: frontend, feature request

#203 [APP] Frontend logs
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/Components/Results.tsx
  frontend/src/Components/Results/ReportCard.tsx
  frontend/src/Components/Sidebar.tsx
  frontend/src/Helpers/API.ts
  frontend/src/Helpers/Log.tsx
  frontend/src/Helpers/Logging/Death.ts
  frontend/src/Helpers/Logging/Food.ts
  frontend/src/Helpers/Logging/Log.ts
  frontend/src/Helpers/Result.ts
  frontend/src/Helpers/Utils.ts
  frontend/src/index.css
  main.go
  pkg/config/readlog.go
  pkg/utils/logging/logging.go
Labels: frontend

#208 Team 5 v2
  pkg/agents/team1/agent1/agent.go
  pkg/agents/team5/agent.go
  pkg/agents/team5/agent1/agent.go
  pkg/agents/team5/messages.go
  pkg/agents/team5/social.go
  pkg/agents/team5/utils.go
  pkg/simulation/simIteration.go
  pkg/simulation/simulation.go
Labels: team5, agent

#222 Timeouts now end the goroutines rather than keeping them running until the end
  main.go
  pkg/simulation/simIteration.go
  pkg/simulation/simulation.go
Labels: bug, infra

#221 Add run to make all
  Makefile
Labels: infra

#228 Consistent config names
  config.json
  pkg/config/configparameters.go
Labels: bug, production

#226 Team4 mvp2
  .gitignore
  pkg/agents/team4/agent1/agent.go
  pkg/agents/team4/agent1/agentConfig.json
  pkg/agents/team4/agent1/agentLifeExpectencies.json
  pkg/agents/team4/agent1/bestAgents.json
  pkg/agents/team4/agent1/checkAgentPerformance.py
  pkg/agents/team4/agent1/generateNewBestAgents.py
  pkg/agents/team4/agent1/start_evo.sh
  pkg/agents/team4/finalAgent/agent.go
  pkg/agents/team4/finalAgent/messages.go
  pkg/agents/team4/finalAgent/trustScoreUpdates.go
  pkg/agents/team4/trainingAgent/agent.go
  pkg/agents/team4/trainingAgent/agentConfig.json
  pkg/agents/team4/trainingAgent/agentDeathRate.json
  pkg/agents/team4/trainingAgent/agentLifeExpectancies.json
  pkg/agents/team4/trainingAgent/agentOurLifeExpectancies.json
  pkg/agents/team4/trainingAgent/bestAgents.json
  pkg/agents/team4/trainingAgent/findBestConfigs.py
  pkg/agents/team4/trainingAgent/generateNewBestAgents.py
  pkg/agents/team4/trainingAgent/getDeathRate.py
  pkg/agents/team4/trainingAgent/getLifeExpectancy.py
  pkg/agents/team4/trainingAgent/initaliseConfig.py
  pkg/agents/team4/trainingAgent/messages.go
  pkg/agents/team4/trainingAgent/start_evo.sh
  pkg/agents/team4/trainingAgent/trustScoreUpdates.go
  pkg/simulation/simulation.go
Labels: team4, agent

#229 [APP] Frontend config
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/Components/Results/ConfigInfo.tsx
  frontend/src/Components/Results/Results.tsx
  frontend/src/Helpers/API.ts
  frontend/src/Helpers/Result.ts
  frontend/src/Helpers/SimConfig.tsx
  frontend/src/assets/blobs/blob1.png
  frontend/src/assets/blobs/blob2.png
  frontend/src/assets/blobs/blob3.png
  frontend/src/assets/blobs/blob4.png
  frontend/src/assets/blobs/blob5.png
  frontend/src/assets/blobs/blob6.png
  frontend/src/assets/blobs/blob7.png
  frontend/src/assets/blobs/blob8.png
  main.go
Labels: frontend, feature request

#232 Replace NPM install with ci
  .github/workflows/main.yaml
Labels: infra

#233 [APP] Frontend refactor
  frontend/src/Components/NewRunConfig/AdvancedSettings/AdvancedSettings.tsx
  frontend/src/Components/NewRunConfig/NewRunState.tsx
  frontend/src/Components/NewRunConfig/ParameterLabels.ts
  frontend/src/Components/NewRunConfig/Settings/Settings.tsx
  frontend/src/Helpers/API.ts
  frontend/src/assets/blobs/blob3.png
  frontend/src/assets/blobs/blob9.png
Labels: frontend, enhancement

#247 [TEAM6] Implemented Memory
  pkg/agents/team6/communication.go
  pkg/agents/team6/config.go
  pkg/agents/team6/consumption.go
  pkg/agents/team6/memory.go
Labels: team6, agent

#250 [HOTFIX] Divide by 0
  frontend/src/Helpers/Utils.ts
Labels: bug, production

#234 [APP] Add foodOnPlatform and cumulativeDeaths graphs to dashboard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Results/Graphs/BarChart.tsx
  frontend/src/Components/Results/Graphs/LineChart.tsx
  frontend/src/Components/Results/Results.tsx
  frontend/src/Components/Results/Stats.tsx
  frontend/src/Helpers/Utils.ts
Labels: frontend, feature request

#248 [TEAM6] EMA filter for food intake + paramWeight update
  pkg/agents/team6/behaviours.go
  pkg/agents/team6/communication.go
  pkg/agents/team6/config.go
  pkg/agents/team6/consumption.go
Labels: team6, agent

#254 Add String() methods for ConditionType, RequestType, Op
  pkg/messages/conditiontype_string.go
  pkg/messages/op_string.go
  pkg/messages/requesttype_string.go
  pkg/messages/treaty.go
Labels: feature request, enhancement

#251 [TEAM6] food range
  pkg/agents/team6/config.go
  pkg/agents/team6/consumption.go
Labels: team6

#258 Add script to build and run Docker image
  run_docker.sh
Labels: infra, enhancement

#259 [APP] No more manual reload
  frontend/src/App.tsx
  frontend/src/Components/NewRunConfig/NewRunState.tsx
  frontend/src/Components/NewRunConfig/Settings/Settings.tsx
  frontend/src/Components/Sidebar.tsx
  frontend/src/Helpers/API.ts
Labels: frontend, feature request

#230 [Team 5] Implement treaty handling
  pkg/agents/team5/agent.go
  pkg/agents/team5/messages.go
  pkg/agents/team5/social.go
  pkg/agents/team5/treaty.go
  pkg/agents/team5/utils.go
  pkg/agents/team5/utils_test.go
  pkg/messages/baseMessage.go
  pkg/simulation/simulation.go
Labels: team5, agent

#265 Hotfix frontend Utility pull
  frontend/src/Helpers/Logging/Utility.ts
Labels: bug, frontend, production

#268 Remove identity message type
  pkg/messages/baseMessage.go
  pkg/messages/messagetype_string.go
Labels: bug

#267 [TEAM6] Trust
  pkg/agents/team6/config.go
Labels: team6

#274 Team3 treaties and messages
  pkg/agents/team3/agentMain.go
  pkg/agents/team3/emotions.go
  pkg/agents/team3/foodCalculations.go
  pkg/agents/team3/messages.go
  pkg/agents/team3/treaties.go
Labels: team3, agent

#271 [APP] Fix memory, make story optional
  config.json
  frontend/src/Components/NewRunConfig/ParameterGroups/FileName.tsx
  frontend/src/Components/Results/Results.tsx
  frontend/src/Components/Story/StoryViewer.tsx
  frontend/src/Helpers/API.ts
  frontend/src/Helpers/Logging/Food.ts
  frontend/src/Helpers/Logging/StoryLog.ts
  frontend/src/Helpers/Result.ts
  frontend/src/Helpers/SimConfig.ts
  main.go
  pkg/config/configparameters.go
  pkg/config/readlog.go
  pkg/simulation/README.md
  pkg/simulation/simulation.go
  pkg/utils/execution/common.go
  pkg/utils/execution/localrun.go
  pkg/utils/execution/maxtick.go
  pkg/utils/execution/server/directory.go
  pkg/utils/execution/server/readfile.go
  pkg/utils/execution/server/simulate.go
  pkg/utils/logging/simstatus.go
  pkg/utils/logging/statelog.go
Labels: bug, frontend, production

#272 [Team 4] Update agent
  .gitignore
  pkg/agents/team4/finalAgent/agent.go
  pkg/agents/team4/finalAgent/messages.go
  pkg/agents/team4/finalAgent/treaty.go
  pkg/agents/team4/finalAgent/trustScoreUpdates.go
  pkg/agents/team4/finalAgent/utils.go
  pkg/agents/team4/trainingAgent/agent.go
  pkg/agents/team4/trainingAgent/agentConfig.json
  pkg/agents/team4/trainingAgent/agentDeathRate.json
  pkg/agents/team4/trainingAgent/agentLifeExpectancies.json
  pkg/agents/team4/trainingAgent/agentOurLifeExpectancies.json
  pkg/agents/team4/trainingAgent/bestAgents.json
  pkg/agents/team4/trainingAgent/generateNewBestAgents.py
  pkg/agents/team4/trainingAgent/getLifeExpectancy.py
  pkg/agents/team4/trainingAgent/initaliseConfig.py
  pkg/agents/team4/trainingAgent/messages.go
  pkg/agents/team4/trainingAgent/start_evo.sh
  pkg/agents/team4/trainingAgent/treaty.go
  pkg/agents/team4/trainingAgent/trustScoreUpdates.go
  pkg/agents/team4/trainingAgent/utils.go
Labels: team4, agent

#275 [Team 5] Final Tweaks
  pkg/agents/team5/agent.go
  pkg/agents/team5/social.go
  pkg/agents/team5/treaty.go
Labels: team5, agent

#283 [Team 5] Remove unused function
  pkg/agents/team5/utils.go
Labels: team5, agent

#282 [Team 2] Update agent
  config.json
  pkg/agents/team2/actions.go
  pkg/agents/team2/actions_test.go
  pkg/agents/team2/config.go
  pkg/agents/team2/config_test.go
  pkg/agents/team2/message.go
  pkg/agents/team2/policies.go
  pkg/agents/team2/policies_test.go
  pkg/agents/team2/qtable.go
  pkg/agents/team2/reward.go
  pkg/agents/team2/states.go
Labels: team2, agent

#284 [TEAM 6] Trust II
  config.json
  pkg/agents/team6/behaviours.go
  pkg/agents/team6/communication.go
  pkg/agents/team6/config.go
  pkg/agents/team6/consumption.go
  pkg/agents/team6/treaties.go
Labels: team6, agent

#288 Hotfix HP log
  pkg/infra/baseAgent.go
Labels: bug, production

#289 [TEAM6] Rewrite treaties
  pkg/agents/team6/treaties.go
Labels: enhancement

#285 [TEAM6] Final PR
  pkg/agents/team6/behaviours.go
  pkg/agents/team6/communication.go
  pkg/agents/team6/config.go
  pkg/agents/team6/consumption.go
  pkg/agents/team6/memory.go
  pkg/agents/team6/strategies.go
  pkg/agents/team6/treaties.go
Labels: team6, agent

#291 [Team 6] Fix treaty handling
  pkg/agents/team6/config.go
  pkg/agents/team6/consumption.go
  pkg/agents/team6/treaties.go
Labels: team6, agent

#292 [Hotfix] Memory Accesses
  pkg/agents/team4/finalAgent/utils.go
Labels: bug, production

#298 [HOTFIX] Timeout
  pkg/simulation/simIteration.go
  pkg/simulation/simulation.go
Labels: bug, production

#297 Improve utility calculation
  pkg/infra/baseAgent.go
  pkg/infra/tower.go
Labels: infra, frontend, enhancement

#305 Add scripts to run backend and frontend
  README.md
  scripts/backend.sh
  scripts/docker.sh
  scripts/frontend.sh
Labels: enhancement
